a:hover {
  text-decoration: none !important;
}

:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

::-moz-selection {
  background: lightskyblue;
}

::selection {
  background: lightskyblue;
}